<app-menu></app-menu>
<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Share ideas</span>
            <div class="text-6xl text-primary font-bold mb-3">and get inspiration from one another</div>
            <p class="mt-0 mb-4 text-700 line-height-3">
                Welcome to our social network for art enthusiasts! Here, you can discover, share, and purchase unique artworks from talented artists around the world.
            </p>
                
                <h2>Our Mission</h2>
                <p>Our mission is to create a vibrant community where artists and art lovers can connect, inspire, and support each other. We believe that art has the power to bring people together and make the world a more beautiful place.</p>
                
                <h2>Features</h2>
                <ul>
                  <li><strong>Explore Artworks:</strong> Browse a wide variety of artworks, including oil paintings, acrylics, and more.</li>
                  <li><strong>Follow Artists:</strong> Create circles to follow your favorite artists and keep up with their latest creations.</li>
                  <li><strong>Analytics:</strong> Gain insights into your posts with detailed analytics on likes, comments, and more.</li>
                </ul>
                
                <h2>Get Involved</h2>
                <p>Join our community today and start sharing your art with the world! Whether you're an artist looking to showcase your work or an art lover searching for your next favorite piece, our platform is the perfect place for you.</p>
                
                <h2>Contact Us</h2>
                <p>If you have any questions or feedback, feel free to reach out to us at <a href="mailto:support@artsphere.com.com">support&#64;artsphere.com</a>.</p>
            
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="https://i.pinimg.com/564x/36/99/1c/36991c499e96fda5a7b1e2e69bac850b.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>
