
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f68ec1, #f7f0c4, #f3e7e7, #a6c1ee, #f68ec1);
  //  background: linear-gradient(135deg, #fbc2eb, #f3e7e7, #f7f0c4, #a6c1ee, #fbc2eb);
}

